#### Pandas 
- Series(1차원 데이터)
    - https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.html
- Dataframe(2차원 데이터(이상))

In [1]:
import numpy as np
import pandas as pd

In [3]:
# 리스트.
List = [10, 20, 30, 40]  

# 튜플.
t = (10, 20, 30, 40)       

# 딕셔너리.
d = {'aa':10, 'bb':20, 'cc':30}

In [8]:
# pd.Series() : index와 data 값으로 출력. index 옵션으로 지정도 가능.
# dtype 지정의 이유 : 메모리 효율 상승.
sr_List = pd.Series(List, index=['aa','bb','cc','dd'], dtype=np.int32, name='kor') 
sr_List

0    10
1    20
2    30
3    40
Name: kor, dtype: int32

In [7]:
sr_tuple = pd.Series(t) 
sr_tuple

0    10
1    20
2    30
3    40
dtype: int64

In [11]:
# sr3= pd.Series(d, dtype=np.float32)
# 문자열로 설정도 가능.
sr_dic = pd.Series(d, dtype=np.str) 
sr_dic

aa    10
bb    20
cc    30
dtype: object

- 속성

In [12]:
data = {'aa':10,'bb':20,'cc':30,'dd':40, 'ee':50}
sr = pd.Series(data, name='국어점수')
sr

aa    10
bb    20
cc    30
dd    40
ee    50
Name: 국어점수, dtype: int64

In [13]:
# 타입 유형.
sr.dtype

dtype('int64')

In [14]:
# 차원.
sr.ndim

1

In [15]:
# 몇 행 몇 열.
sr.shape

(5,)

In [16]:
# 전체 데이터의 수.
sr.size

5

In [17]:
# 데이터의 이름.
sr.name

'국어점수'

In [24]:
# index 속성을 가짐. => index 값을 출력.
print(sr.index)
print(type(sr.index))

Index(['aa', 'bb', 'cc', 'dd', 'ee'], dtype='object')
<class 'pandas.core.indexes.base.Index'>

In [26]:
# ndarray 속성. => 해당 값을 출력.
print(sr.values)
print(type(sr.values))

# 즉 이와 같은 방식의 사용이 가능.
print(sr.values.mean())

[10 20 30 40 50]
<class 'numpy.ndarray'>
30.0