In [1]:
import numpy as np
import pandas as pd

In [2]:
# 사용할 데이터 만들기.
data = {'aa':10,'bb':20,'cc':30,'dd':40, 'ee':50}
sr   = pd.Series(data, name='국어점수')
sr

aa    10
bb    20
cc    30
dd    40
ee    50
Name: 국어점수, dtype: int64

#### 추가

In [3]:
# 'ee' 가 존재시 수정.
sr.loc['ee'] = 70

# 'ff' 가 없다면 추가.
sr.loc['ff'] = 70 
sr

aa    10
bb    20
cc    30
dd    40
ee    70
ff    70
Name: 국어점수, dtype: int64

In [4]:
# sr.append() : 데이터를 추가.
# sr = sr.append( pd.Series( [80, 90, 100], index=['gg','hh','ii'] ) )
sr.append( pd.Series( [80, 90, 100], index=['gg','hh','ii']) )

aa     10
bb     20
cc     30
dd     40
ee     70
ff     70
gg     80
hh     90
ii    100
dtype: int64

#### 수정

In [5]:
# 수정할 수 있는 여러가지 방법.
# sr['aa'] = 100
# sr.iloc[0] = 100
# sr.loc['aa'] = 100
sr[0] = 1
sr

aa     1
bb    20
cc    30
dd    40
ee    70
ff    70
Name: 국어점수, dtype: int64

In [6]:
sr[1:3] = [1,2]
# sr.iloc[1:3] = 100
# sr['bb':'cc'] = [1,2]
# sr.loc['bb':'cc'] = [1,2]

In [7]:
# 연산 및 Indexing으로도 수정이 가능.
sr['dd':'ee'] = sr['dd':'ee'] + 2

In [8]:
# 조건에 따른 데이터만을 수정.
# 30 이상인 데이터에 5를 더한 값으로 수정하시오.
sr[sr >= 30] = sr[sr >= 30] + 2

#### 삭제

In [9]:
# sr.drop( **부여된 인덱스 사용**)
# 1번째 방법 : sr = sr.drop( ['aa', 'cc'])
# 2번째 방법 : sr.drop( ['aa', 'cc'], inplace=True)
# inplace=True : 지정된 값을 삭제하도록 데이터에 적용시켜줌.
# 아래와 같이 할 경우 실제 data는 변경되지 않음.
sr.drop( ['aa', 'cc'])

bb     1
dd    44
ee    74
ff    72
Name: 국어점수, dtype: int64

In [10]:
# 25이상인 데이터를 삭제하시오.
sr.drop(sr[sr >= 25].index)

aa    1
bb    1
cc    2
Name: 국어점수, dtype: int64

#### 정렬

In [11]:
# ascending=False (내림차순)  , inplace = True (변경값 적용)
# default value : ascending=True (오름차순)
sr.sort_values()

aa     1
bb     1
cc     2
dd    44
ff    72
ee    74
Name: 국어점수, dtype: int64