In [1]:
import numpy as np
import pandas as pd

In [2]:
# Dataframe에 columns, row 인덱스 추가.
d1 = [[1,2],[3,4],[5,6]]
d2 = [(1,2),(3,4),(5,6)]
d3 = [{'kor':1, 'eng':2},
      {'kor':3, 'eng':4},
      {'kor':5, 'eng':6}]
d4 ={'kor':[1,3,5],'eng':[2,4,6]}

In [3]:
df1 = pd.DataFrame(d1, index=['a','b','c'], columns=['eng', 'kor'])
df1

   eng  kor
a    1    2
b    3    4
c    5    6

In [4]:
df2 = pd.DataFrame(d2)
df2

   0  1
0  1  2
1  3  4
2  5  6

In [5]:
df3 = pd.DataFrame(d3)
df3

   kor  eng
0    1    2
1    3    4
2    5    6

In [6]:
df4 = pd.DataFrame(d4)
df4

   kor  eng
0    1    2
1    3    4
2    5    6

In [7]:
data =  {'eng':[10,30,50,70],
         'kor':[20,40,60,80],
         'math':[90,50,20,70]}

df = pd.DataFrame(data,index=['a','b','c','d'])
df

   eng  kor  math
a   10   20    90
b   30   40    50
c   50   60    20
d   70   80    70

In [8]:
# 차원.
df1.ndim

2

In [9]:
# 행과 열의 수.
df.shape

(4, 3)

In [10]:
# 행의 수.
# df.shape[0] 
len(df)

4

In [11]:
# 데이터의 수.
df.size

12

In [12]:
# 전치(transpose).
df.T

       a   b   c   d
eng   10  30  50  70
kor   20  40  60  80
math  90  50  20  70

In [13]:
# 컬럼 명을 표시.
df.keys()
df.columns

Index(['eng', 'kor', 'math'], dtype='object')

In [14]:
# 각 컬럼별 데이터 속성을 표시.
df.dtypes

eng     int64
kor     int64
math    int64
dtype: object

In [15]:
# 데이터 전반적인 정보를 표시.
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4 entries, a to d
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   eng     4 non-null      int64
 1   kor     4 non-null      int64
 2   math    4 non-null      int64
dtypes: int64(3)
memory usage: 300.0+ bytes

In [16]:
# index만 표시. 단 문자열(dtype='object')로 가져옴.
df.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [17]:
# 데이터 값을 array로 출력.
df.values

array([[10, 20, 90],
       [30, 40, 50],
       [50, 60, 20],
       [70, 80, 70]], dtype=int64)