In [1]:
import numpy as np
import pandas as pd

In [2]:
# 사용할 데이터 만들기.
data =  { 'eng':[10,30,50,70],
          'kor':[20,40,60,80],
          'math':[90,50,20,70] }
df = pd.DataFrame(data, index = ['a','b','c','d'])
df

   eng  kor  math
a   10   20    90
b   30   40    50
c   50   60    20
d   70   80    70

In [3]:
# df['컬럼명']
# 컬럼명에 해당되는 값만 출력.
df['eng']

a    10
b    30
c    50
d    70
Name: eng, dtype: int64

In [4]:
# 컬러명을 리스트로 감싸표 데이터 프레임으로 표시.
df[ ['eng'] ]

   eng
a   10
b   30
c   50
d   70

In [5]:
# 여러 컬럼을 지정하여 가져올 수 있음.
df[ ['eng', 'math'] ]

   eng  math
a   10    90
b   30    50
c   50    20
d   70    70

In [6]:
# df.[슬라이싱(행 단위)]
df[ 1 : 3 ]
df['b':'c']

   eng  kor  math
b   30   40    50
c   50   60    20

#### lioc Indexing slicing

In [7]:
# df.iloc[행, 열]
# 결과값이 시리즈로 표시.
df.iloc[0]

eng     10
kor     20
math    90
Name: a, dtype: int64

In [8]:
# 결과값을 데이터 프레임으로 표시.
df.iloc[[0]]

   eng  kor  math
a   10   20    90

In [9]:
# 0행 0열 원소를 가져옴.
df.iloc[0, 0]

10

In [10]:
# 1행 0열, 3행 0열 값을 가져옴.
# 행과 열 모두 [] 묶어야만 데이터 프레임으로 표시.
# 행과 열 둘 중 하나 이하만 []로 묶여있다면 시리즈로 표시.
df.iloc[ [1, 3], [0]]

   eng
b   30
d   70

In [11]:
# 슬라이싱은 데이터 프레임으로 표시.
df.iloc[1:3]

   eng  kor  math
b   30   40    50
c   50   60    20

In [12]:
# 행, 열 값을 다 부여하면 시리즈로 표시.
df.iloc[1:3, 1]

b    40
c    60
Name: kor, dtype: int64

In [13]:
# 이와 같이 표현한다면 데이터 프레임으로도 나타낼 수 있음.
df.iloc[ [1,2], [0,2] ]

   eng  math
b   30    50
c   50    20

#### loc  Indexing slicing

In [14]:
# 부여된 인덱스에 해당하는 값을 표시.
df.loc['a']

eng     10
kor     20
math    90
Name: a, dtype: int64

In [15]:
# 원하는 행만을 표시.
df.loc[['a','c']]

   eng  kor  math
a   10   20    90
c   50   60    20

In [16]:
# 슬라이싱으로 표시.
df.loc['a':'c']

   eng  kor  math
a   10   20    90
b   30   40    50
c   50   60    20

In [17]:
# 행 열 둘 중 하나만 슬라이싱이 사용된 경우 데이터를 시리즈로 표시.
# 단 리스트로 묶는다면 데이터 프레임으로의 표시가 가능.
df.loc['b':,['kor']]

   kor
b   40
c   60
d   80

In [18]:
# 둘 다 슬라이싱으로 표현된 경우 데이터 프레임으로 표시.
df.loc['b':, 'kor':]

   kor  math
b   40    50
c   60    20
d   80    70

In [19]:
df.loc['b':'c',['eng','math']]

   eng  math
b   30    50
c   50    20