In [1]:
import numpy as np
import pandas as pd

In [2]:
# 랜덤하게 30 ~ 100 사이 값에서 (4, 6) shape로 데이터 생성.
data = np.random.randint(30, 101, size=(4, 6))

# 데이터 프레임으로 변환.
df = pd.DataFrame(data)

# 인덱스 및 컬럼명 설정.
df['년도'] = [2018, 2018, 2019, 2019]
df['반']   = ['1반','2반']*2
df.set_index(['년도', '반'], inplace=True)
df

#### Multi index
- pd.MultiIndex.from_product() : 손쉽게 Multi index 설정이 가능.

In [3]:
# 랜덤하게 30 ~ 100 사이 값에서 (4, 6) shape로 데이터 생성.
data = np.random.randint(30, 101, size=(4, 6))

# 데이터 프레임으로 변환.
df = pd.DataFrame(data)

# 멀티인덱스 함수를 통한 데이터 프레임 생성.
df.index = pd.MultiIndex.from_product( [ [2018,2019], ['1반','2반'] ] , names = ['년도', '반'])
df

In [4]:
# 데이터 프레임의 설정된 인덱스들을 리스트로 보여줌.
df.index.levels

In [5]:
# 데이터 프레임의 설정된 인덱스 값들을 모두 보여줌.
df.index.get_level_values(0)

In [6]:
# 데이터 프레임의 설정된 인덱스 값들을 모두 보여줌.
df.index.get_level_values(1)

Index(['1반', '2반', '1반', '2반'], dtype='object', name='반')

In [7]:
# 인덱스를 다시 컬럼으로 만들어줌.
df.reset_index()

     년도   반   0   1   2   3   4    5
0  2018  1반  87  76  67  89  38   33
1  2018  2반  69  38  56  70  83   80
2  2019  1반  36  36  78  74  85   96
3  2019  2반  90  50  98  43  46  100

In [8]:
df

          0   1   2   3   4    5
년도   반
2018 1반  87  76  67  89  38   33
     2반  69  38  56  70  83   80
2019 1반  36  36  78  74  85   96
     2반  90  50  98  43  46  100

In [9]:
# 컬럼명 위에 또 컬럼명 설정이 가능함.
df.columns = pd.MultiIndex.from_product( [ ['홍길동','이순신','임꺽정'], ['국어','영어'] ] )
df

        홍길동     이순신     임꺽정
         국어  영어  국어  영어  국어   영어
년도   반
2018 1반  87  76  67  89  38   33
     2반  69  38  56  70  83   80
2019 1반  36  36  78  74  85   96
     2반  90  50  98  43  46  100

In [10]:
# 컬럼명으로 설정된 값을 보여줌.
df.columns.levels[0]

Index(['이순신', '임꺽정', '홍길동'], dtype='object')

In [11]:
# 컬럼명으로 설정된 값을 보여줌.
df.columns.levels[1]

Index(['국어', '영어'], dtype='object')